.coin-page {
  &__container {
    @media (max-width: 800px) {
      height: 85vh;
    }
    display: flex;
    flex-direction: column;
    padding: 3vh 2vw 1vh;
    margin: 0 auto;
    width: 100vw;
    max-width: 900px;
    height: 93vh;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__header-rank {
    font-size: 18px;
    background-color: #8d93ab;
    border-radius: 10px;
    text-align: center;
    min-width: 40px;
    line-height: 35px;
  }

  &__header-name {
    font-size: 20px;
    border-bottom: 2px solid #8d93ab;
    font-weight: bold;
    text-align: center;
    align-self: center;
  }

  &__header-link {
    color: #8d93ab;
    border-bottom: 2px solid #8d93ab;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-self: center;
  }

  &__chart {
    margin: 2vh 0;
    @media (max-width: 800px) {
      margin: 5vh 0;
    }
  }

  &__info {
    margin: 2vh 0 1vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 30vh;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }

  &__info-symbol {
    align-items: center;
    flex: 1;
    margin: 0 0 0 10px;
  }

  &__info-price {
    flex: 1;
    margin: 10px 10px 0;
  }

  &__info-change {
    &_posChange {
      flex: 1;
      margin: 10px 10px 0;
      color: #2da62d;
    }

    &_negChange {
      flex: 1;
      margin: 10px 10px 0;
      color: #b71717;
    }
  }

  &__info-marketCap {
    flex: 1;
    margin: 10px 10px 0;
  }

  &__add-to-wallet-button-button {
    background-color: #8d93ab;
    font-size: 16px;
    width: 50vw;
    max-width: 400px;
    margin: 0 auto;
    height: 6vh;
    border-radius: 10px;
  }
}

.marker {
  @media (max-width: 400px) {
    font-size: 14px;
  }
  font-size: 16px;
  color: black;
  font-weight: 400;
}
