.modal {
  &__wallet-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
    @media (max-width: 400px) {
      font-size: 13px;
    }
  }

  &__wallet-current-price {
    font-weight: bold;
  }

  &__wallet-difference {
    &_positive {
      color: #2da62d;
    }

    &_negative {
      color: #b71717;
    }
  }

  &__wallet-list {
    border: 3px solid #8d93ab;
    border-radius: 10px;
    margin-bottom: 5px;
    @media (max-width: 400px) {
      font-size: 13px;
    }
  }

  &__wallet-list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #8d93ab;
    padding: 1vh 1vw;
    text-align: center;
    min-height: 50px;

  }

  &__wallet-list-item:nth-last-child(1) {
    border-bottom: none;
  }

  &__wallet-list-item-name {
    font-weight: bold;
    flex: 0 1 20%;
    align-self: center;
  }

  &__wallet-list-item-amount {
    flex: 0 1 30%;
    align-self: center;
  }

  &__wallet-list-item-sum {
    font-weight: bold;
    flex: 0 1 40%;
    align-self: center;
  }

  &__wallet-list-item-button {
    flex: 0 1 13%;
    font-weight: bold;
    background-color: #8d93ab;
    max-width: 25px;
    height: 25px;
    align-self: center;
    border-radius: 50%;
  }


}

