.coins-container {
  padding: 1vh 2vw;
  margin: 0 auto;
  width: 100vw;
  max-width: 900px;
}

.each-coin-with-button {
  display: flex;
  border: 2px solid #d6e0f0;
  border-radius: 10px;
  margin-bottom: 0.5vh;
}

.coin {
  flex: 9;
  align-self: center;

  display: flex;
  justify-content: space-between;
  height: 4vh;
  min-height: 50px;
  padding-left: 0.5vw;

  &__element {
    //border: 1px solid #000000;
    align-self: center;
    text-align: center;
  }

  &__rank {
    margin-left: 1vw;
    font-size: 16px;
    font-weight: bold;
    flex: 0 1 5%;
  }

  &__name {
    flex: 0 1 30%;
  }

  &__symbol {
    flex: 0 1 20%;
    text-align: center;
    font-weight: bold;
  }

  &__price {
    flex: 0 1 20%;
    font-weight: bold;
  }

  &__posChange {
    font-size: 16px;
    color: #2da62d;
    flex: 0 1 20%;
  }

  &__negChange {
    font-size: 16px;
    color: #b71717;
    flex: 0 1 20%;
  }
}

.add-to-wallet-button {
  font-weight: bold;
  background-color: #d6e0f0;
  text-align: center;
  align-self: center;
  margin-right: 1vw;
  width: 8vw;
  max-width: 40px;
  height: 8vw;
  max-height: 40px;
  border-radius: 50%;
}
