.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;

  &__content {
    padding: 10px 20px;
    border: 3px solid #d6e0f0;
    border-radius: 10px;
    background-color: white;
    width: 90vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    @media (max-width: 350px) {
      padding: 1.5vh 2.5vw;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__header-name {
    align-self: center;
    font-size: 18px;
    font-weight: bold;
  }

  &__header-button {
    font-weight: bold;
    background-color: #d6e0f0;
    align-self: center;
    width: 8vw;
    max-width: 30px;
    height: 8vw;
    max-height: 30px;
    border-radius: 50%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__form-data{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
  }

  &__price-change{
    &_posChange {
      color: #2da62d;
    }

    &_negChange {
      color: #b71717;
    }
  }

  &__form-input {
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #8d93ab;
    margin-bottom: 30px;
    font-size: 18px;
  }

  &__form-button {
    background-color: #8d93ab;
    font-size: 16px;
    width: 50vw;
    max-width: 250px;

    margin: 0 auto;
    height: 3vh;
    min-height: 35px;
    border-radius: 10px;
  }
}

.modal.active {
  display: flex;
}